@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Handlee&display=swap");

body {
  background-image: url("./img/0074.jpg");
  background-size: 50%;
}
.App {
  text-align: center;
  font-family: "Handlee", cursive;
  padding-top: 50px;
}

.App h1 {
  font-weight: 500;
  font-family: "Gochi Hand", cursive;
  font-size: 40px;
  color: black;
}

