:root {
  --tape-gray: #dbd8be;
  --tape-edge-gray: #b7b49d;
  --transparent: rgba(255, 255, 255, 0);
}
.Results .top-tape {
  position: relative;
  height: 40px;
  top: -90px;
  left: 320px;
  width: 200px;
  background-color: var(--tape-gray);
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 1px dotted var(--tape-edge-gray);
  opacity: 0.6;
  transform: rotate(4deg);
}
.Results .postIt {
  margin: 0 auto;
  padding: 20px 10px;
  color: #000;
  background: #ffc;
  display: block;
  min-height: 10em;
  width: 220px;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  transform: rotate(4deg);
  position: relative;
  top: 113px;
  right: -450px;
  text-align: center;
}
.Results .Paper {
  background: white;
  display: block;
  max-width: 80%;
  margin: 0 auto;
  padding: 70px 40px;
  text-align: left;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  margin-bottom: 20px;
  margin-top: 20px;
}

.Results .postIt h2 {
  font-weight: 500;
  font-family: "Gochi Hand", cursive;
  font-size: 45px;
  color: black;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* pin */
.pin {
  --pin-color: #d02627;
  --pin-dark: #9e0608;
  --pin-light: #fc7e7d;

  position: absolute;
  top: -7px;
  left: 191px;
  width: 60px;
  height: 50px;
}

.metal {
  position: absolute;
  width: 5px;
  height: 20px;
  background: linear-gradient(to right, #808080, 40%, #eae8e8, 50%, #808080);
  border-radius: 0 0 30% 30%;
  transform: rotate(50deg);
  transform-origin: bottom left;
  top: 15px;
  border-bottom: 1px solid #808080;
}

.bottom-circle {
  position: absolute;
  right: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--pin-color);
  background: radial-gradient(
    circle at bottom right,
    var(--pin-light),
    25%,
    var(--pin-dark),
    90%,
    var(--pin-color)
  );
}

/* Barrel */
.bottom-circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 20px;
  height: 30px;
  transform: rotate(55deg);
  transform-origin: 100% 100%;
  border-radius: 0 0 40% 40%;
  background: linear-gradient(
    to right,
    var(--pin-dark),
    30%,
    var(--pin-color),
    90%,
    var(--pin-light)
  );
}

/* Top circle */
.bottom-circle::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: radial-gradient(
    circle at right,
    var(--pin-light),
    30%,
    var(--pin-color),
    var(--pin-dark) 80%
  );
}
